<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoFood</title>
    <script src="https://cdn.tailwindcss.com"></script>


    <style>
        #map
        {
            height: 400px;
            width: 100%;
        }
    </style>


</head>
<body>
<!-----------------------------NAVBAR----------------------------------->
<div>
    <div class="antialiased bg-gray-100">
        <div class="w-full text-gray-700 bg-white dark-mode:text-gray-200 dark-mode:bg-gray-800">
            <div x-data="{ open: true }" class="flex flex-col max-w-screen-xl px-4 mx-auto md:items-center md:justify-between md:flex-row md:px-6 lg:px-8">
                <div class="flex flex-row items-center justify-between p-4">
                    <a href="/" class="text-2xl font-bold tracking-widest rounded-lg dark-mode:text-white focus:outline-none focus:shadow-outline"><span class="text-lime-300">Go</span><span class="text-amber-300">Food</span></a>
                    <button class="rounded-lg md:hidden focus:outline-none focus:shadow-outline" @click="open = !open">
                        <svg fill="currentColor" viewBox="0 0 20 20" class="w-6 h-6">
                            <path x-show="!open" fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z" clip-rule="evenodd"></path>
                            <path x-show="open" fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                        </svg>
                    </button>
                </div>
                <nav :class="{'flex': open, 'hidden': !open}" class="flex-col flex-grow hidden pb-4 md:pb-0 md:flex md:justify-end md:flex-row">
                    <a class="px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-0 md:ml-4 hover:text-white focus:text-gray-900 hover:bg-emerald-300 focus:bg-emerald-200 focus:outline-none focus:shadow-outline" href="/about">About</a>
                    <a class="px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-0 md:ml-4 hover:text-white focus:text-gray-900 hover:bg-emerald-300 focus:bg-gray-200 focus:outline-none focus:shadow-outline" href="/features">Features</a>
                    <a class="px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-0 md:ml-4 hover:text-white focus:text-gray-900 hover:bg-emerald-300 focus:bg-gray-200 focus:outline-none focus:shadow-outline" href="/HowIW">How Does It Work?</a>
                    <a class="px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-0 md:ml-4 hover:text-white focus:text-gray-900 hover:bg-emerald-300 focus:bg-gray-200 focus:outline-none focus:shadow-outline" href="https://t.me/gofooderbot">Our Bot</a>
                    <a class="px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-0 md:ml-4 hover:text-white focus:text-gray-900 hover:bg-amber-300 focus:bg-gray-200 focus:outline-none focus:shadow-outline" href="/subscrible">Subscribe</a>
                </nav>
            </div>
        </div>
    </div>
</div>

<!-----------------------------HERO----------------------------------->


<!-------------------------ABOUT US----------------------->
<div>
    <section class="text-blueGray-700 bg-white mt-20">
        <div class="container flex flex-col items-center px-5 py-16 mx-auto md:flex-row lg:px-28">
            <div class="flex flex-col items-start mb-16 text-left lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 md:mb-0">
                <h1 class="mb-8 text-2xl font-bold tracking-tighter text-black md:text-5xl title-font">Registration</h1>
                <p class="mb-8 text-base leading-relaxed text-left text-blueGray-600 ">In your personal account, you will see the purchase history, the current order, and the duration of the subscription</p>
            </div>
            <div class="w-full lg:w-1/3 lg:max-w-lg md:w-1/2">
                <img class="object-cover object-center rounded-lg " alt="hero" src="./img/howIW1.png">
            </div>
        </div>
    </section>
    <!----------->
    <section class="text-blueGray-700 bg-white mt-18">
        <div class="container flex flex-col items-center px-5 py-16 mx-auto md:flex-row lg:px-28">
            <div class="w-full lg:w-1/3 lg:max-w-lg md:w-1/2">
                <img class="object-cover object-center rounded-lg " alt="hero" src="./img/howIW2.png">
            </div>
            <div class="flex flex-col items-start mb-16 text-left lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 md:mb-0">
                <h1 class="mb-8 text-2xl font-bold tracking-tighter text-black md:text-5xl title-font">Making a subscription </h1>
                <p class="mb-8 text-base leading-relaxed text-left text-blueGray-600 ">Choose the subscription that suits you</p>

            </div>
        </div>
    </section>
    <!----------->
    <section class="text-blueGray-700 bg-white mt-18">
        <div class="container flex flex-col items-center px-5 py-16 mx-auto md:flex-row lg:px-28">
            <div class="flex flex-col items-start mb-16 text-left lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 md:mb-0">
                <h1 class="mb-8 text-2xl font-bold tracking-tighter text-black md:text-5xl title-font">Order</h1>
                <p class="mb-8 text-base leading-relaxed text-left text-blueGray-600 ">Order food for a certain time to choose from</p>
            </div>
            <div class="w-full lg:w-1/3 lg:max-w-lg md:w-1/2">
                <img class="object-cover object-center rounded-lg " alt="hero" src="./img/howIW3.png">
            </div>
        </div>
    </section>
</div>

<!-----------------------------FOOTER---------------------------------->
<div class="h-screen flex" id="subscribe">
    <div class="flex w-1/2 justify-around items-center" style="background-image: url('https://images.unsplash.com/photo-1482049016688-2d3e1b311543?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1010')">
    </div>
    <div class="flex w-1/2 justify-center items-center bg-white">
        <form class="bg-white" action="/index" method="post">
            <h1 class="text-gray-800 font-bold text-2xl mb-1">Hello!</h1>
            <p class="text-sm font-normal text-gray-600 mb-7">Get Your Free Account</p>
            <div class="flex items-center border-2 py-2 px-3 rounded-md mb-4">
                <input class="pl-2 outline-none border-none" type="email" name="email" id="email" placeholder="Email Address" />
            </div>
            <div class="flex items-center border-2 py-2 px-3 rounded-md mb-4">
                <input class="pl-2 outline-none border-none" type="text" name="firstName" id="firstName" placeholder="First Name" />
            </div>
            <div class="flex items-center border-2 py-2 px-3 rounded-md mb-4">
                <input class="pl-2 outline-none border-none" type="text" name="lastName" id="lastName" placeholder="Last Name" />
            </div>
            <div class="flex items-center border-2 py-2 px-3 rounded-md mb-4">
                <input class="pl-2 outline-none border-none" type="text" name="username" id="username" placeholder="Phone Number" />
            </div>
            <div class="flex items-center border-2 py-2 px-3 rounded-md">
                <input class="pl-2 outline-none border-none" type="password" name="password" id="password" placeholder="Password" />
            </div>
            <button type="submit" class="block w-full bg-green-500 mt-4 py-2 hover:text-white hover:bg-green-600 rounded-md text-white font-semibold mb-2">Register</button>
            <span class="text-sm ml-2 hover:text-orange-500 cursor-pointer">Login</span>
        </form>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
</body>
</html>