body {


    height: 1000px;
    left: 0%;
    right: 0%;
    top: 0px;
    background: rgb(237,255,231);


    font-family: 'Gothic A1';
}
.text {
    padding-top: 10%;
    padding-left: 8.54%;
    padding-right: 29.58%;

}
p{
    font-size: 72px;
    background: -webkit-linear-gradient(rgba(178, 124, 20, 0.74), rgba(53, 94, 11, 0.89));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.main1 {
    font-family: 'Gothic A1';


    font-style: normal;
    font-weight: 400;
    font-size: 85px;
    line-height: 80px;
    /* or 94% */


    color: #FFFFFF;
}
.dop{

    padding-top: 44px;
    padding-bottom: 60px;

    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;

    color: #FFFFFF;
}
.button1{

    display: inline-block;

    text-decoration: none;
    padding: .8em 5em ;


    transition: 0.2s;

    background: #ffa033;
    border-radius: 10px;

    text-align: center;

    color: #FFFFFF;
}



#title {
    background: linear-gradient(90deg, #FFFFFF -1.28%, rgba(255, 255, 255, 0.734583) -1.27%, rgba(255, 255, 255, 0) 102.88%), #25B44B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-left: 8.54%;

}
.logo {

    font-weight: bold;
    font-size: 7rem;

    line-height: 1;
    padding-bottom: 6%;
}


.use {
    font-size: 2.5rem;
    color: #21b01d;
    font-weight: bold;

}
.web {
    font-size: 2.5rem;
    color: #f89b0f;
    font-weight: bold;
}




/* Navbar Section */
.nav-item {
    padding: 0 15px;
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;

}
.img{
 position : relative ;
    width: 580px;
    height: 327px;

    left: 750px;
    top: -190px;

}
